---
to: src/app/components/<%= name %>/<%= name %>Component.js
---
'use client'

import styles from './<%= name %>.module.css'

const Component = ({ }) => {
    return <div className={styles.<%= name %>}>
    </div>
}

export default Component
